@using EkbDataAccess
@model MvcEKCabinets.Models.AdminPageModel




<table class="table table-bordered table-striped table-hover" id="seriesTable">
    <caption id="brandCaption">
    <h3>@Model.BrandName</h3></caption>
    <tr>
        <th>Line Name</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @foreach (Line l in Model.Lines)
    {
        <tr>
            <td>@l.Name</td>
            <td>@l.Description</td>        
            <td>
                <button class="add-btn btn btn-primary" data-id="@l.Id" data-linename="@l.Name">
                    Add Cabinet
                </button>
                <br />
                <br />
                <button class="view-btn btn btn-success" data-id="@l.Id" data-linename="@l.Name">
                    View Cabinets
                </button>
                <br />
                <br />
                <button class="portfolio-btn btn btn-success" data-id="@l.Id" data-linename="@l.Name">
                    Add Portfolio
                </button>
            </td>
        </tr>
    }
</table>
<!--View Cabinets Modal -->
<div class="modal fade" id="viewCabinetsModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Cabinets<span id="series-name"></span></h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover" id="viewTable">
                    <caption id="seriesCaption"></caption>
                    <thead>
                        <tr>
                            <th>Cabinet-Name</th>
                            <th>Door-Image</th>
                            <th>Full-Image</th>
                            <th>Actions</th>
                        </tr>
                    </thead>                
                                    
                </table>

            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>  close with js
                </div>*@
        </div>

    </div>
</div>

<!--Cabinet Add Style Modal -->
<div class="modal fade" id="addStyleModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Style</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/AddNewCabinet" enctype="multipart/form-data" class="form-group" id="addStyleForm">
                    <div class="form-group">
                        <label for="style">Style Name:</label>
                        <input type="text" class="form-control" name="styleName" placeholder="Enter Style Name">
                    </div>
                  
                    <div class="form-group">
                        <label for="doorImg">Upload Door Image:</label>
                        <input type="file" accept="image/*" name="doorImg">
                    </div>
                    <div class="form-group">
                        <label for="fullImg">Upload Full Image:</label>
                        <input type="file" accept="image/*" name="fullImg">
                    </div>
                    <button type="submit" id="submitStyle" class="btn btn-default">Submit</button>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>  close with js
                </div>*@
        </div>

    </div>
</div>
<!--EDIT Modal -->
<div class="modal fade" id="editModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Style</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/EditCabinets" enctype="multipart/form-data" class="form-group" id="editForm">
                    <div class="form-group">
                        <label for="edit-name">Cabinet Name:</label>
                        <input type="text" class="form-control" name="Name" id="edit-name">
                    </div>

                    <div class="form-group">
                        <label for="doorImg">Upload Door Image:</label>
                        <input type="file" accept="image/*" name="doorImg">
                    </div>
                    <div class="form-group">
                        <label for="fullImg">Upload Full Image:</label>
                        <input type="file" accept="image/*" name="fullImg">
                    </div>
                    <button type="submit" id="submitUpdate" class="btn btn-default">Submit</button>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>  close with js
                </div>*@
        </div>

    </div>
</div>
<!--Portfolio Modal -->
<div class="modal fade" id="portfolioModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Portfolio Item</h4>
            </div>
            <div class="modal-body">
                <form method="POST" action="/admin/AddPortfolio" enctype="multipart/form-data" class="form-group" id="portfolioForm">
                   
                    <div class="form-group">
                        <label for="portfolioImg">Upload Portfolio Image:</label>
                        <input type="file" accept="image/*" name="portfolioImg">
                    </div>
                   
                    <button type="submit" id="submitPortfolio" class="btn btn-default">Submit</button>
                </form>
            </div>
            @*<div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>  close with js
                </div>*@
        </div>

    </div>
</div>

@section scripts{
<script src="~/Scripts/siteScripts/ejs_0.9_alpha_1_production.js"></script>
<script src="~/Scripts/siteScripts/admin.cabinetsIndex.js"></script>

}