@using EkbDataAccess
@model MvcEKCabinets.Models.HomeViewModel

<div class="row">

    @foreach (Line l in Model.Lines)
    {
        <div class="col-md-12">

            <div class="col-md-7">
                <img src="@l.FullImage" id="fullImage" style="max-width:100%;
                     max-height:100%;" />
                @*@foreach (Cabinet c in Model.Cabinets.Where(c => c.LineId == l.Id))
                    {

                        <img class="thumbnail" src="@c.DoorImage" id="smallImage" data-id="@c.Id" style="height:200px;" />
                        <div class="caption">
                            <h3>@c.Description</h3>
                        </div>
                    }*@
            </div>
            <div class="col-md-4">
                <h1>@l.Name</h1>
                <p style="word-wrap:break-word">Description...................................................................................</p>
            </div>
                <div class="col-md-7" style="margin-top: 20px;">
                    @foreach (Cabinet c in Model.Cabinets.Where(c => c.LineId == l.Id))
                    {

                        <img src="@c.DoorImage" id="smallImage" data-id="@c.Id" style="height:200px; margin-left:20px; cursor: pointer;" />
                    }
                </div>
            
        </div>
    }
            </div>