<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">EKB Cabinets</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li>
                <li><a href="#">About</a></li>
                <li><a href="#">Bath</a></li>
                <li><a href="#">Counter</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (ViewBag.Name != null)
                {
                    <li style="font-size: 17px; color: white;">
                        <a href="/admin/logout"><span class="glyphicon glyphicon-user"></span>  Welcome @ViewBag.Name,  sign out?</a>
                    </li>
                    @*<li><a href="/admin/logout"><span class="glyphicon glyphicon-user"></span>  Welcome @ViewBag.Name, Sign Out</a></li>*@
                }
                
                
                    <li><a href="/admin/login"><span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
                

            </ul>
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>



    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
